__pycache__
hash
.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

ui/node_modules
db
dist-ssr
*.local
backup
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache
# dev
ui/yarn.lock__pycache__/
*.py[cod]
/output/
/workflows*/*.json
/input/
!/input/example.png
/models/
/temp/
*.ckpt
*.safetensors
*.pt
*.pth
*.h5
*.onnx
*.pb
*.pbtxt
*.tflite
*.mlmodel
*.pkl
*.joblib
extra_model_paths.yaml
/.vs
.idea/
venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
*.png
*.webp
/user/
custom_nodes/
